body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center; /* Center the #app vertically */
    justify-content: center; /* Center the #app horizontally */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

#app {
    width: 60rem;
    height: 45rem;
    padding: 20px; /* Adjust padding as needed */
    margin-top: 15rem;
    margin-left: 15rem;
}

.Images {
    width: 210px;
    height: 290px;
    padding: 0;
}

#header {
    background-color: red;
    width: 100%;
    height: 5%;
    top: 0;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
}

#footer {
    background-color: red;
    width: 100%;
    height: 5%;
    bottom: 0;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
}

.section {
    display: inline-block;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    width: 28%; /* Adjust as needed */
    padding: 12px;
    height: 550px;
    text-align: start; /* Align the content to the start (left) */
    margin: 0; /* Remove default margin */
}

.main-explanation {
    width: fit-content;
    display: block;
    margin-top: 10px;
    text-align: start;
}

.infotext {
    margin-top: 8px;
}

.price-tag {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    margin-top: 8px;
    text-align: start;
}