body {
    margin: 0;
    padding: 0;

    background-color: white;
}

#app{
    width: 100rem;
    height: max-content;
    padding-left: 20%;
    padding-top: 15%;
    padding-right: 15%;
    display: inline;
    vertical-align: middle;
    display: table-cell;
    min-height: fit-content;
}

.Images {
    width: 210px;
    height: 290px;
    padding: 40px 50px 10px 70px;
}
#header {

    background-color: red;
    width:100%;
    height: 5%;
    top: 0;
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;

}

#footer {
    background-color: red;
    width:100%;
    height: 5%;
    bottom: 0;
    position: fixed;
    left: 0;
    margin: 0px;
    padding: 0;

}

.section {
    display: inline;
    padding: 0;
    height: auto;
}

.main-explanation {
    width: fit-content;
    display: inline;
}